name: ci

on:
  push:
   

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to Google Container Registry
        uses: docker/login-action@v2
        with:
          registry: gcr.io
          username: _json_key
          password: ${{ secrets.GCP_CREDENTIALS }}

      - name: Build & push Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./section2/Dockerfile # Adjusted path to Dockerfile
          push: true
          tags: gcr.io/super-sandbox-434412/spring:latest

      - name: Authenticate with Google Cloud
        uses: google-github-actions/auth@v1
        with:
          credentials_json: ${{ secrets.GCP_CREDENTIALS }}
      - name: Create Cloud Deploy pipeline
        run: |
          gcloud deploy delivery-pipelines  \
          --project=super-sandbox-434412 \
          --region=us-east1 \
          --delivery-pipeline-file=./pipeline.yaml \
          --description="Automated pipeline creation from GitHub Actions"
      - name: Deploy using Google Cloud Deploy
        run: |
          gcloud deploy releases create release-$(date +%Y%m%d-%H%M%S) \
          --project=super-sandbox-434412 \
          --delivery-pipeline=demo-btnmh5s \
          --region=us-east1 \
          --images=your-app=gcr.io/super-sandbox-434412/spring:v1 \
          --description="Automated deployment from GitHub Actions"
